<div class="container col-lg-6">
	<form ng-submit="register(userinfo)">
		<input class="form-control" type="text" ng-model="userinfo.email" placeholder="email"></input>
		<input class="form-control" type="text" ng-model="userinfo.lname" placeholder="lname"></input>
		<input class="form-control" type="text" ng-model="userinfo.fname" placeholder="fname"></input>
		<input class="form-control" type="text" ng-model="userinfo.birthdate" placeholder="birthdate"></input>
		<input class="form-control" type="text" ng-model="userinfo.skype" placeholder="skype"></input>
		<input class="form-control" type="text" ng-model="userinfo.street_address" placeholder="street_address"></input>
		<input class="form-control" type="text" ng-model="userinfo.city" placeholder="city"></input>
		<input class="form-control" type="text" ng-model="userinfo.state" placeholder="state"></input>
		<input class="form-control" type="text" ng-model="userinfo.country" placeholder="country"></input>
		<input class="form-control" type="text" ng-model="userinfo.postal_code" placeholder="postal_code"></input>
		<input class="form-control" type="text" ng-model="userinfo.avatar" placeholder="avatar"></input>
		<input class="form-control" type="text" ng-model="userinfo.referrer" placeholder="referrer"></input>
		<input class="form-control" type="button" value="Proceed"></input>
	</form>
</div>
