<div class="profile-container">
	<div class="container">
		<div class="col-lg-4" ng-init="error={};registerInfo={}">
			<h4>REGISTER</h4>
			<div class="alert alert-danger" role="alert" ng-show="error.id">
				{{error.message}}
			</div>
			<div class="alert alert-danger" role="alert" ng-show="success.id">
				<p>{{success.message}} <a href="#/login">here</a>.</p>
			</div>
			<form ng-submit="register(registerInfo)">
				<input class="form-control margin1" required type="text" ng-model="registerInfo.fname" placeholder="Firstname"></input>
				<input class="form-control margin1" required type="text" ng-model="registerInfo.lname" placeholder="Lastname"></input>
				<input class="form-control margin1" required type="text" ng-model="registerInfo.hobbies" placeholder="Hobbies"></input>
				<input class="form-control margin1" required type="text" ng-model="registerInfo.crush" placeholder="First crush"></input>
				<input class="form-control margin1" required type="text" ng-model="registerInfo.uname" placeholder="username" ng-class="{'has-error':error.id=='userexist'}"></input>
				<input class="form-control margin1" required type="text" ng-model="registerInfo.pass" placeholder="password"></input>
				<input class="form-control margin1" type="submit" value="SUBMIT"></input>
			</form>
			<!-- <pre>{{registerInfo | json}}</pre> -->
		</div>
	</div>
</div>