<!-- <div class="menu-container">
  <ul class="nav nav-pills nav-stacked">
    <li ui-sref-active="active">
      <a ui-sref="home">Home</a>
    </li>
    <li ui-sref-active="active">
      <a ui-sref="profile">Profile</a>
    </li>
  </ul>
</div> -->

<!-- <link class="cssdeck" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" class="cssdeck">
<style type="text/css">
.nav.tree.tree-hide {
  /*-moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;*/
  transition: height 1s;
  height:0;
  display:block;
  position: relative;
  overflow:hidden;
}
.nav.tree.tree-show {
  max-height:999px;
}
  
</style>
<div class="well" style="width:300px; padding: 8px 0;">
    <div style="overflow-y: scroll; overflow-x: hidden; height: 500px;">
        <ul class="nav nav-list" ng-init="show=true">
            <li ng-repeat="(keyItem, valItem) in menuItems"><label ng-click="show=!show" tree-toggle class="tree-toggler nav-header buttonize">{{keyItem}}</label>
                <ul class="nav nav-list tree" ng-class="{'tree-show':show, 'tree-hide':!show}">
                    <li ng-repeat="(keyLink, valLink) in valItem"><a href="#{{valLink}}">{{keyLink}}</a></li>
                </ul>
            </li>
            <pre>{{menuItems | json}}</pre>
            <li class="divider"></li>
            <li><label class="tree-toggler nav-header">Header 2</label>
                <ul class="nav nav-list tree">
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><label class="tree-toggler nav-header">Header 2.1</label>
                        <ul class="nav nav-list tree">
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><label class="tree-toggler nav-header">Header 2.1.1</label>
                                <ul class="nav nav-list tree">
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><label class="tree-toggler nav-header">Header 2.2</label>
                        <ul class="nav nav-list tree">
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><label class="tree-toggler nav-header">Header 2.2.1</label>
                                <ul class="nav nav-list tree">
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div> -->

