html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

/* youtube-inspired styles */

.yt, span, a{
	color : #333;
	font-family: arial, sans-serif;
}

a, button, input[type="button"], input[type="submit"] , #logo_img{
	cursor : pointer;
}

.red-text{
	color : #cc181e;
}

.muted-text{
	color : #adadad;
}
.clearfix{
	clear: both;
}
.button{
	display: inline-block;
	border: 1px solid #CCC;
	padding: 5px 10px;
}

.disappear{
	width: 0px;
	height: 0px;
	margin: 0px;
	padding: 0px;
	opacity: 0;
	visibility: hidden;
}



a{
	text-decoration: none;
}

header{
	min-width: 800px;
	background : #fff;
	border-bottom: 1px solid #e8e8e8;
}

.wrapper {
	float: left;
}

#mast_div{
	height: 40px;
	padding: 10px 30px 5px;
	margin: 0 auto;
	line-height: 1;
	position: relative;
}

#collapse_button{
	padding: 10px;
	margin: 5px 10px;
	line-height: normal;
	background: transparent;
	vertical-align: middle;
	display: inline-block;
	border : 1px solid transparent;
}

#collapse_button:hover{
	border : 1px solid #d3d3d3;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

#collapse_button.collapsed i{
	color : #aaa;
}

#collapse_button i{
	color : #cc181e;
	padding-right: 5px;
	float: left;
}

#collapse_button i.fa-sort-asc{
	margin-top: -2px;
}

#profile_nav_div{
	float: right;
}

#sign_in_a, #register_a{
	display: inline-block;
	border: 0;
	padding: 10px 10px;
	color: #FFF;
	font-size: 13px;
	font-weight: bold;
	vertical-align: middle;
}

#register_a{
	background : #1b7fcc;
}

#sign_in_a{
	background: #cc181e;
}

#profile_email_span{
	font-size: 11px;
	color: #666;
	vertical-align: middle;
}

#profile_avatar_img{
	border: 1px solid #CCC;
	border-radius: 3px;
	vertical-align: middle;
	cursor: pointer;
}

#bell_icon {
	color: #888;
	vertical-align: middle;
}

#mast_expansion_div{
	width: 100%;
	height: 110px;
}


#menu_section{
	width: 225px;
	float: left;
	position: absolute;
	background: #FFF;
	display: none;
}

#menu_ul li i{
	width: 20px;
	color: #AAA;
}
#menu_ul li a{
	padding: 10px 30px;
	display: block;
	font-family: arial, sans-serif;
	border-right: 1px solid #e8e8e8;
	font-size: 12px;
}
#menu_ul li a:hover, #menu_ul li a.active{
	font-weight: bold;
	border-right: none;
	background: #444;
	color: #FFF;
}
#menu_ul li a.active{
	background: #cc181e;
}
#menu_ul li a:hover i, #menu_ul li a.active i{
	color: #FFF;
}



#body_section {
	background : #f0f0f0;
	width: 100%;
	min-height: 500px;
}

#content_div_wrapper{
	margin: 0 auto;
	width: 100%;
}

#content_div{
	margin: 0 auto;
	padding: 60px 10px;
	background: #fff;
	width: calc(100% - 120px);
	min-height: 200px;
	border: 1px solid #e8e8e8;
	border-top: 0;
}

#profile_div{
	font-family: arial, sans-serif;
	font-size: 12px;
	line-height: 2.2;
}
#profile_div img{
	float: left;
	margin-right: 10px;
	border: 1px solid #CCC;
	cursor: pointer;
}
#profile_name_span{
	font-weight: bold;
	font-size: 22px;
}


#prospects_ul_wrapper{
	width: 100%;
	text-align: center;
}
#prospects_ul{
	list-style-type: none;
}
#prospects_ul li{
	display: inline-block;
}
#prospects_ul li a{
	font-family: "Open Sans";
	padding: 20px 60px;
	text-align: center;
	color: #EEE;
	background: #CC181e;
	border-bottom: 3px solid #000;
}
#prospects_ul li a:hover, #prospects_ul li a.selected{
	box-shadow: 0px 0px 10px #FFF;
	background: #C42B1B;
	font-weight: bold;
	color: #FFF;
	border-bottom-width: 4px;
}

